.normal-typing-container {
  position: relative;
  display: inline;
}

.typing-cursor {
  display: inline-block;
  width: 8px;
  height: 1.2em;
  background-color: #ffffff;
  margin-left: 4px;
  animation: blink 1s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
